/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .page {
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #F1B2CE);
}
