:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-decor-bg: #FF8DCB;
  --title-decor-color: #353430;
  --hover-border-color: rgb(50 45 45/ 0.4);
  --button-color: #353430;
  --decore-zone-color: #353430;
  --content_title_color: #353430;
}

.theme-light .header__decorated-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-decor-bg: #FF8DCB;
    --title-decor-color: #353430;
    --hover-border-color: rgb(50 45 45/ 0.4);
    --button-color: #353430;
    --decore-zone-color: #353430;
    --content_title_color: #353430;

  }

  .header__decorative-text {
    display: none;
  }
}