:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
  --hover-border-color: rgb(50 45 45/ 0.4);
  --button-color: #353430;
  --decore-zone-color: #353430;
  --content-title-color: #353430;
}

.theme-light .header__decorated-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
    --hover-border-color: rgb(50 45 45/ 0.4);
    --button-color: #353430;
    --decore-zone-color: #353430;
    --content-title-color: #353430;
  }

  .header__decorated-text {
    display: none;
  }
}
